*/*.o
TACHE1/test_image 
TACHE1/test_lecture_fichier 
TACHE1/test_image_seul
TACHE2/test_alea_geom2d 
TACHE2/test_fichier_PointVect
*/*/*.swp
**/*tags
TACHE3/test_struct_liste 
TACHE3/test_contour 
TACHE3/test_contour_a_la_volee

