**/*.o
**/*.a
**/*.swp
**/*tags

IMAGES_TEST_*
**/IMAGE_TEST
**/IMAGE_TEST_*


TACHE1/TEST/test_image
TACHE1/TEST/test_lecture_fichier

TACHE2/TEST/test_alea_geom2d 
TACHE2/TEST/test_geom2d

TACHE3/TEST/test_struct_liste 
TACHE3/TEST/test_contour 
TACHE3/TEST/test_contour_neg
TACHE3/TEST/test_contour_a_la_volee

TACHE4/TEST/test_eps_stroke
TACHE4/TEST/test_eps_fill


TACHE5/test_contour_masque
TACHE5/test_eps_multiple


TACHE6/test_distance
TACHE6/test_simplification_segment
TACHE6/IMAGES_TEST*



TACHE7/test_bezier
TACHE7/test_bezier_3
TACHE7/test_simplification_bezier
TACHE7/test_simplification_bezier_3
TACHE7/IMAGES_TEST*
